* {
  margin: 0;
}

h3 {
  margin: 10px 0;
}

body {
  background-color: #eee;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}

nav {
  padding: 10px;
  background-color: #fff;
  width: 60%;
  margin: auto;
  border-radius: 5px;
  box-sizing: border-box;
}

nav ul {
  list-style: none;
  display: flex;
  height: fit-content;
  padding: 0;
}

nav li {
  height: 100%;
  padding: 0.5em 1em;
  box-sizing: border-box;
}

nav a {
  color: #13b;
  font-weight: 600;
  text-decoration: none;
  font-size: 1.1rem;
}

nav a:not(:last-child) {
  border-right: #ddd 2px solid;
}

section {
  background-color: #fff;
  width: 60%;
  padding: 20px;
  padding-top: 1px;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 5px auto;
  min-width: 50%;
}

input, button {
  font-size: 1rem;
  padding: 5px;
}

input[type="file"] {
  font-size: 14px;
}

.form-entry {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-entry img {
  height: 60px;
  width: 60px;
  margin-right: 30px;
}

.form-entry label {
  margin: 0 5px 5px 0;
}

.form-controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 16px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.form-controls > * {
  margin: 0 20px;
  padding: 10px;
  border-style: outset;
  border-width: 3px;
  border-radius: 6px;
  border-color: #ccc;
  cursor: pointer;
}

.form-controls input[type="submit"] {
  background-color: #0c0;
  border-color: #00c900;
}

#delete-entry-btn {
  background-color: red;
  color: white;
  border-color: red;
}

.book-tile {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 10px;
}

.book-tile:not(:last-child) {
  border-bottom: solid #ccc 1px;
}

.book-info {
  flex-grow: 1;
  position: relative;
}

.book-info p {
  font-size: .8rem;
  font-weight: 600;
  position: relative;
}

.book-info span {
  font-size: 1rem;
  margin-left: 5px;
  font-weight: 100;
  position: absolute;
  left: 100px;
}

.book-info a {
  font-size: .9em;
  bottom: 0;
  position: absolute;
}

.thumbnail {
  height: 100px;
  width: 100px;
  object-fit: contain;
}

.book-controls {
  width: 100px;
  text-align: center;
}

.book-controls span {
  font-weight: 600;
}

.green {
  color: green;
}

.red { 
  color: red;
}

.book-controls button {
  height: 35px;
  width: 100%;
}

#new-book-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

#submit-btn {
  background: #36f;
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
  border: outset #3f6fff 5px;
  cursor: pointer;
}

#error-box {
  display: none;
  border: solid 1px #f33;
  background-color: #fee;
  height: fit-content;
  padding: 7px;
  color: #f33;
}
