* {
  margin: 0;
}

body {
  background-color: #eee;
  padding: 10px 20px;
}

nav {

}

section {
  background-color: #fff;
  width: fit-content;
  padding: 20px;
  padding-top: 1px;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 5px;
  min-width: 50%;
}

.form-entry {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.book-tile {
  /* line-height: .5rem; */
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  border-bottom: solid #ccc 1px;
  padding: 0 10px;
}

.book-info {
  flex-grow: 1;
}

.thumbnail {
  height: 100px;
}

.book-controls {
  width: 100px;
}

.book-controls button {
  height: 35px;
  width: 100%;
}

#new-book-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

#submit-btn {
  background: blue;
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
  border: outset #33f 5px;
  cursor: pointer;
}
